
    <div class="border-right" id="sidebar-wrapper" [ngStyle]="{float: 'left'}">
      <div class="sidebar-heading" [ngStyle]="{'background-color':'blue'}">MediaApp </div>
      <div class="list-group list-group-flush effect">
        <a href="#" class="list-group-item list-group-item-action ">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action ">Profile</a>
        <a href="#" class="list-group-item list-group-item-action ">Location</a>
        <a href="#" class="list-group-item list-group-item-action ">Events</a>
        <a href="#" class="list-group-item list-group-item-action">Reviews</a>
      </div>
    </div>